@font-face {
  font-family: 'Gilroy-Light';
  src: url("./fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("./fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("./fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url("./fonts/Gilroy-Black.ttf");
}

@font-face {
  font-family: 'DancingScript-Medium';
  src: url("./fonts/DancingScript-Medium.ttf");
}

html,
body,
.App {
  background: #141417;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  position: relative;
}

body {
  font-family: 'Gilroy-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}