html, body, .App{
  background: #141417;
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  position: relative;
}

body {
  font-family: 'Gilroy-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
